.login-main {
  flex: 1 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  position: relative;

  .login-title {
    max-width: 544px;
    text-align: center;

    h1 {
      font-size: 3rem;
      font-weight: 700;
    }
  }

  .login-form {
    width: 100%;
    max-width: 320px;
    align-self: center;
  }
}
