.memos {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0 20px 10px;

  .memo {
    margin: 5px 0 5px;
  }

  .status-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 10px 0;

    .status-text {
      font-size: 13px;
      color: gray;
      margin: 0;
    }
  }
}

.card {
  position: relative;
  background: #ffffff;
  border-radius: 6px;
  padding: 15px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .time {
      display: block;
      font-size: 12px;
      color: #8f9193;
      text-decoration: none;
    }
  }
}

.share-dialog {
  padding: 4px 16px 16px;
  background-color: #fafafa;

  .share-tips {
    font-size: 14px;
    color: #454545;
    margin: 8px 0;

    p {
      margin: 0;
    }
  }

  .share-card {
    .card {
      position: relative;
      background: #ffffff;
      border-radius: 6px 6px 0 0;
      padding: 15px;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .time {
          display: block;
          font-size: 12px;
          color: #8f9193;
          text-decoration: none;
        }
      }

      .content {
        color: #323232;
        font-size: 13px;
        position: relative;
        overflow: hidden;

        p {
          line-height: 1.8;
          min-height: 20px;
          margin: 0;
        }
      }
    }

    .footer {
      padding: 10px 15px;

      display: flex;
      justify-content: flex-end;
      background-color: #f8f8f8;

      p {
        font-size: 12px;
        color: #8f9193;
        margin: 0;
        font-weight: bold;
      }
    }
  }
}

.popover {
  width: 100px;
  display: flex;
  flex-direction: column;

  & > button {
    color: #7d7d7d;
    display: block;
    border: 0;
    background-color: #ffffff;
    cursor: pointer;
    padding: 6px;
  }

  & > button:hover {
    color: #55bb8e;
  }
}

.ant-popover {
  :global(.ant-popover-inner-content) {
    padding: 4px;
  }
}

.input {
  padding: 10px 20px 10px;
}
