.heatGrid {
  margin-top: 10px;
  padding: 0 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.week {
  .day {
    width: 12px;
    height: 12px;
    background: #efefef;
    color: #d3ecdd;
    border: 1px solid transparent;
    border-radius: 2px;
    margin-bottom: 4px;
    cursor: pointer;
    box-sizing: content-box;
  }

  .today {
    border-color: #55bb8e;
  }

  .lightGreen {
    background: #d3ecdd;
  }

  .green {
    background: #8ddeb5;
  }

  .darkGreen {
    background: #55bb8e;
  }
}
